@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');
:root {
  --background-color: #121212;
  --text-color: #fff;
  --title-color: #73b3f2;
  --feature-background-color: #38383e;
  --feature-background-color-hover: #4a4a50;
  --submit-button-color: #70ffb7;
  --submit-button-color-hover: #4cff8a;
  --clear-button-color: #ffab96;
  --clear-button-color-hover: #ff7a5a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  font-size: 2rem;
  margin: 20px 0;
}

button {
  border: none;
  border-radius: 0 10px 10px 0;
  font-size: inherit;
  font-weight: bold;
  color: var(--text-color);
}

button:hover {
  cursor: pointer;
}

.submit-button {
  background-color: var(--submit-button-color);
}

.submit-button:hover {
  background-color: var(--submit-button-color-hover);
}

.clear-button {
  background-color: var(--clear-button-color);
}

.clear-button:hover {
  background-color: var(--clear-button-color-hover);
}

.avatar {
  stroke: none;
  fill: var(--text-color);
  width: 3rem;
  height: 3rem;
  background-color: var(--feature-background-color);
  border-radius: 15%;
}

.message-wrapper {
  display: grid;
  grid-template-columns: 60px auto;
  min-height: 60px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: var(--feature-background-color);
}

.input-wrapper {
  display: grid;
  grid-template-columns: auto 100px;
  height: 60px;
  border-radius: 10px;
  background-color: var(--feature-background-color);
}

.history-wrapper {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: var(--feature-background-color);
}

.history-wrapper:hover {
  cursor: pointer;
  background-color: var(--feature-background-color-hover);
}

.clear-wrapper {
  width: 100%;
  height: 60px;
  background-color: var(--clear-button-color);
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

.clear-wrapper:hover {
  background-color: var(--clear-button-color-hover);
}
